<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Password Manager</title>
</head>
<body>

<div class="container">

    <h3>Password Manager</h3>
    <hr>

    <p class="h4 mb-4">Save Category</p>

    <form action="#" th:action="@{/admin/saveCategory}"
          th:object="${category}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name">

        <div class="form-row">
            <div class="col-5">
                <button type="submit" class="btn btn-info col-2">Save</button>
            </div>
        </div>


    </form>

    <hr>
    <a th:href="@{/admin/admin-passwords}">Back to Password List</a>

</div>
</body>
</html>