<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Password Manager</title>
</head>
<body>

<div class="container">

    <h3>Password Manager</h3>
    <hr>

    <p class="h4 mb-4">Save Password</p>

    <form action="#" th:action="@{/user/save}"
          th:object="${password}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name">

        <input type="text" th:field="*{value}"
               class="form-control mb-4 col-4" placeholder="Value">

        <label>Select category:</label>
        <select th:field="*{category.name}">
            <option th:each="tempCategory : ${categories}"
                    th:value="${tempCategory.name}"
                    th:text="${tempCategory.name}">
            </option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/user/user-passwords}">Back to Password List</a>

</div>
</body>
</html>