<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Directory</title>
<body>
<div class="container">

<h3>Password Directory</h3>
<hr>

<!-- Add a button -->
<a th:href="@{/user/showFormForAdd}"
   class="btn btn-primary btn-sm mb-3">
    Add Password
</a>
    <div><h3>Password search</h3></div>
    <form th:href="@{user/user-passwords}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Name" size="50" >
        <label>Select one category:</label>
        <select name="category">
            <option selected value=''></option>
            <option th:each="tempCategory : ${categories}"
                    th:value="${tempCategory.name}"
                    th:text="${tempCategory.name}"
                    th:data="${tempCategory.name}">
            </option>
        </select>
        <button type="submit" class="btn btn-info" >Search</button>
    </form>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="password : ${passwords}" th:field="${password}">

        <td th:text="${password.name}" />
        <td> <input type="password" disabled th:value="${password.value}"/> </td>
        <td th:text="${password.category.name}" />

        <td>
            <div class="row">

                <div class="col-small">
                    <!-- Add "update" button/link -->
                    <form action="#" th:action="@{/user/showFormForUpdate}" method="POST">

                        <input type="hidden" name="passwordId" th:value="${password.id}" />
                        <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                    </form>
                </div>

                <div class="col-small">
                    <!-- Add "delete" button/link -->
                    <form action="#" th:action="@{/user/delete}" method="POST">

                        <input type="hidden" name="passwordId" th:value="${password.id}" />
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                            Delete
                        </button>

                    </form>
                </div>
            </div>
        </td>


    </tr>
    </tbody>
</table>
    <sec:authorize access="isAuthenticated()">
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout">
        </form>
    </sec:authorize>

</div>
</body>
</html>